<template>
	<div class="microfilm-wrap" id="microfilm-wrap">
		<!-- video切换 -->
  	<div v-swiper:mySwiper="swiperOption">
    	<div class="swiper-wrapper">
    		<div class="swiper-slide" v-for="item in videoList.detail">
      		<video 
      			class="video-box js-video-box"
      			width="100%"
      			src="" 
      			poster=""
      			webkit-playsinline="true"
      		>
      		</video>
      		<i class="play js-play"></i>
      		<i class="middle"></i>
      		<img :src="item.film_header_img" alt="" class="img js-img">
    		</div>
    	</div>
    	<div class="swiper-pagination"></div>
  	</div>

  	<!-- 电影简介 -->
  	<div class="video-info">
			<h4 class="title" id="name">微电影名称</h4>
			<p class="written" id="desc">微电影描述</p>
			<div class="mapname">
				<span id="destina">微电影关联目的地</span>
			</div>
			<div class="customer-service">
				<a href="javascript:;" 
					v-for="(item, index) in videoList.customer"
					:class="{ 'a': videoList.customer.length > 1 && index == 0}"
				>{{item}}</a>
			</div>
		</div>
	</div>
</template>

<script>
	// 列表swiper插件采用 vue-awesome-swiper（3.1.0）
	// 官方配置文档：https://www.swiper.com.cn/api/
	import $ from 'jquery'
	import {getMicrofilm} from '~/api/microfilm'

	// 模拟数据
	var videoList = {
		detail: [
			{
	      store_id: 1,
	      film_id: 100,
	      store_name: "店铺名称1",
	      store_logo: "https://img.tthunbohui.cn/dmp/h/cms/1535212800/jh-img-orig-ga_1033556244210786304_135_135_5717.png@!90c90",
	      film_url: 'http://mp4.vjshi.com/2018-04-09/8ffdcbb091cf4a6bced2489d8becedd4.mp4',
	      film_header_img: 'https://img.tthunbohui.cn/zhuanti/20108/longmao.jpeg',
	      film_destina_name: '微电影关联目的地1',
	      film_name: '微电影名称1',
	      film_desc: '微电影描述1'
	    },
	    {
	      store_id: 2,
	      film_id: 200,
	      store_name: "店铺名称2",
	      store_logo: "https://img.tthunbohui.cn/dmp/h/cms/1535212800/jh-img-orig-ga_1033556244210786304_135_135_5717.png@!90c90",
	      film_url: 'http://mp4.vjshi.com/2018-09-13/9e7a11d5b8a4e34761f85b76a4c2ec13.mp4',
	      film_header_img: 'https://img.tthunbohui.cn/zhuanti/20108/longmao.jpeg',
	      film_destina_name: '微电影关联目的地2',
	      film_name: '微电影名称2',
	      film_desc: '微电影描述2'
	    }
		],
		customer: ['客资按钮一', '客资按钮二'],
		sort: 1
	}

	// 通过视频的 index 筛选数据，回填info信息
	function setDecrite(index) {
		var oName = document.getElementById('name')
		var oDesc = document.getElementById('desc')
		var oDestina = document.getElementById('destina')
		var data = videoList.detail[index]
		
		oName.innerHTML = data.film_name
		oDesc.innerHTML = data.film_desc
		oDestina.innerHTML = data.film_destina_name
	}

	// 这个是用来切换页面时，去掉video的 controls 属性（video在全屏播放退出后，会自动添加 controls 属性）
	function removeControls() {
		var aVideo = document.getElementsByClassName('js-video-box')
		for (var i = 0, len = aVideo.length; i < len; i++) {
			aVideo[i].removeAttribute('controls')
		}
	}

  export default {
    data () {
      return {
        videoList: [],											// 微电影列表数据
        videoName: '微电影名称',						// 微电影名称（没用到）
        videoDesc: '微电影描述',						// 微电影描述（没用到）
        videoDestina: '微电影关联目的地',		// 微电影关联目的地（没用到）	
        swiperOption: {											// 配置swiper插件
        	pagination: { el: '.swiper-pagination', type: 'fraction' },
			  	autoplay: false,			// 是否自动轮播
			  	// height: 667,				// 设置分页高度，需要动态设置 =》在mounted里面执行mySwiper.update()
			  	direction: 'vertical',// 轮播方向，horizontal(水平)还是vertical(垂直)
			  	observer:true,
			  	on: {					
			  		// Swiper初始化了
			  		init: function() {},
			  		// 输出的activeIndex是过渡后的slide索引，并通过索引去筛选数据，回填info信息
			  		slideChangeTransitionStart: function(){
			  			removeControls()
			      	setDecrite(this.activeIndex)
				    }
			    }
        }
      }
    },
    async asyncData ({ params }) {
  		// let videoList = {}
	   //  let { data } = await getMicrofilm({
	   //  	film_detail_id: '微电影ID'
	   //  })
	   //  if (data.code == 0) {
	   //    videoList = data
	   //  }
	   //  return { videoList: data }
	  },
    created() {
    	this.videoList = videoList
    	console.log('处理传入的参数，获取微电影列表数据')
    },
    mounted() {
			// 设置头部
	    this.$store.commit('changeHeadType', 'custom');
      this.$store.commit('setHeadicon', ['back', 'share', 'collect']);
      this.$store.commit('changeHeaderTitle', '商家名称');
      this.$store.commit('changeLogo', 'https://img.tthunbohui.cn/zhuanti/20108/longmao.jpeg');

      this.isWeixin()

      this.stop()

    	// 页面加载完成显示视频控件，保证看到视频控件时，样式不错乱
    	$('#microfilm-wrap').css({
    		opacity: 1
    	})

    	// 设置外框的宽高和手机适口一致
    	let client = this.getWindowClient()
    	$('#microfilm-wrap').width(client.width).height(client.height)
    	$('.swiper-slide').height(client.height)

    	// 点击自定义播放按钮，播放对应video
    	this.videoPlay()

    	// 视频播放暂停
    	this.videoPause()

    	// 动态设置video属性（原生video不支持 MVVM 绑定）
    	this.changeVideo()

    	/*	mySwiper.slideTo(index, speed, runCallbacks) => 切换到指定slide。
					index:必选，num，指定将要切换到的slide的索引
					speed:可选，num(单位ms)，切换速度
					runCallbacks: 可选，boolean，设置为false时不会触发transition回调函数
    	*/
    	var page = this.videoList.sort
      setTimeout(()=>{		// 这里加个定时器去执行，主要是在ios某些机型下（比如6），样式出现计算问题
      	this.mySwiper.slideTo(page, 1000, false)
      },100)
      setDecrite(page)

      // 这个方法会重新计算Swiper的尺寸
      this.mySwiper.updateSize();

      // 更新Swiper, 用来更新swiper高度变化造成的影响
      this.mySwiper.update()
    },
    methods: {
    	// 获取屏幕宽高
    	getWindowClient() {
    		return {
    			width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
    			height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    		}
    	},
    	// 点击自定义播放按钮，播放对应视频
    	videoPlay() {
    		var that = this
    		var aVideo = document.getElementsByClassName('js-video-box')
    		$('.js-play').each(function(index, el) {
    			$(this).click(function(event) {
    				var fullscreenvideo = that.fullscreen(aVideo[index]);
    				aVideo[index][fullscreenvideo]();
    				$('.js-img').eq(index).hide()
    				$('.js-play').eq(index).hide()
    				//aVideo[index].style.display = 'inline-block'
    				aVideo[index].style.transform = 'rotate(90deg)'
    				aVideo[index].play()
    			})
    		})
    		$('.js-img').each(function(index, el) {
    			$(this).click(function(event) {
    				var fullscreenvideo = that.fullscreen(aVideo[index]);
    				aVideo[index][fullscreenvideo]();
    				$('.js-img').eq(index).hide()
    				$('.js-play').eq(index).hide()
    				//aVideo[index].style.display = 'inline-block'
    				aVideo[index].style.transform = 'rotate(90deg)'
    				aVideo[index].play()
    			})
    		})
    	},
    	// 动态设置video属性（原生video不支持 MVVM 绑定）
    	changeVideo() {
    		var aVideo = document.getElementsByClassName('js-video-box')
    		var detail =  this.videoList.detail
    		for (var i = 0, len = aVideo.length; i < len; i++) {
    			aVideo[i].setAttribute('src', detail[i].film_url)
    			// aVideo[i].setAttribute('poster', detail[i].film_header_img)
    		}
    	},
    	/***滑动限制***/
    	stop(){
        var mo = function(e){e.preventDefault();};
        document.body.style.overflow ='hidden';
        document.addEventListener("touchmove",mo,false);//禁止页面滑动
      },
      /***取消滑动限制***/
      move(){
        var mo = function(e){e.preventDefault();};
        document.body.style.overflow ='';//出现滚动条
        document.removeEventListener("touchmove",mo,false);
      },
			// 进入全屏(原生video)
			fullscreen(elem) {
				var prefix = 'webkit';
				if (elem[prefix + 'EnterFullScreen']) {
					return prefix + 'EnterFullScreen';
				} else if (elem[prefix + 'RequestFullScreen']) {
					return prefix + 'RequestFullScreen';
				};
				return false;
			},
			// 退出全屏(原生video) : 视频元素.webkitExitFullScreen()
			
			// 判断视频播放暂停
			videoPause() {
				var that = this
				var aVideo = document.getElementsByClassName('js-video-box')
				for (var i = 0, len = aVideo.length; i < len; i++) {
	  			aVideo[i].addEventListener("pause", function(i) {
    				//this.style.display = 'none'
    				this.style.transform = 'rotate(0)'
    				$('.js-img').show()
    				$('.js-play').show()
    				//this.webkitExitFullScreen()
					});
	  		}	
			},
			// js判断手机操作系统(ios或者是Android)，解决在安卓机下，头部title样式问题
			isWeixin() {
				var u = navigator.userAgent, app = navigator.appVersion;
		    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
		    var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
		    if (isAndroid) {
		      //这个是安卓操作系统
		      setTimeout(()=>{
		    		$('.mint-header-title').css({
			    		'padding-left': '40px'
			    	})
		    	}, 100)
		    }
		    if (isIOS) { }	//这个是ios操作系统 
			}
    }
  }
</script>

<style lang= "scss">
	.mint-header {
		position: relative;
		z-index: 9999999;
	}
	.downloadapp {
		position: relative;
		z-index: 9999999;
	}
	.mint-header {
		background-color: #000 !important;
	}
	.mint-header .mint-header-title {
		color: #fff;
	}
	.mint-header .mintui {
		color: #fff;
	}
	.icon-list .iconfont {
		color: #fff;
	}
	.mint-header-button {
		flex: 0;
	}
	.mint-header .mint-header-title {
		text-align: left;
		text-indent: 10px;
	}

	.microfilm-wrap {
		position: fixed;
    left: 0;
    top: 0;
		opacity: 0;
		overflow: hidden;
		.swiper-container {
			height: 100%;
		}
		.swiper-slide {
			position: relative;
			font-size: 0;
			.video-box {
	      margin: 0;
	      padding: 0;
				object-fit: fill;
				display: none;
				vertical-align: middle;
			}
			.img {
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
			}
			.play {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				z-index: 1000000;
				margin: auto;
				width: 90px;
				height: 90px;
				background: url(https://img.tthunbohui.cn/zhuanti/20108/playicon.png) no-repeat center center;
				background-size: 100%;
			}
			.middle {
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.swiper-pagination-fraction {
			opacity: 1;
			text-align: right;
			font-size: 20px;
			position: absolute;
			padding-right: 24px;
			bottom: 150px;
		}
		.video-info {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 99;
			width: 100%;
			padding: 48px 24px;
			padding-bottom: 60px;
			.title {
				font-size: 28px;
				font-weight: bold;
				line-height: 40px;
				margin-bottom: 8px;
			}
			.written {
				font-size: 26px;
				line-height: 37px;
				margin-bottom: 12px;
			}
		}
		.mapname {
			position: relative;
			font-size: 0;
			margin-bottom: 20px;
			span:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 24px;
				height: 24px;
				margin-right: 8px;
				margin-top: -4px;
				background: url(https://img.tthunbohui.cn/zhuanti/20108/mapicon.png) no-repeat center center;
				background-size: 100%;
			}
			span {
				display: inline-block;
				vertical-align: middle;
				font-size: 24px;
			}
		}
		.customer-service {
			font-size: 0;
			text-align: center;
			a {
				display: inline-block;
				width: 208px;
				padding: 16px 0;
				font-size: 28px;
				color: #fff;
				margin: 0 30px;
				border-radius: 36px;
				background-color: #2F89FC;
			}
			.a {
				color: #2F89FC;
				background-color: #CCE2FF;
			}
		}
	}
	body {
		height: 100%;
		color: #fff;
		background-color: #000;
	}
</style>